#listName {
    float: left;
    font-weight: bold;
    margin-top: 25%;
}

#content {
    float: right;
    border: 3px solid #73AD21;
    width: 640px;
    height: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 70%;
}

h1, h3, p {
    text-align: center;
}