body {
    background-color: gray;
}

#catList {
    float: left;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 12%;
}

.listName {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#content {
    float: right;
    border: 3px solid #73AD21;
    width: 640px;
    height: 600px;
    margin-right: 20%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 80%;
    cursor: pointer;
}

h1, h3, p {
    text-align: center;
}

p {
    font-weight: bold;
    font-size: larger;
}